.conteudoCentral{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.containerStories{
    width: 80%;
    height: 15vh;
    margin: 0 auto;
    padding: 0.5rem;
}

.containerPost{
    padding: 0.5rem;
   height:  85vh;
}

