.conteudoCentral{

    display: flex;
    justify-content: center;
}

.containerStories{
    width: 80%;
    height: 15vh;
    margin: 0 auto;
    padding: 0.7rem;
    display: flex;
    justify-content: space-evenly;
}

.containerPost{
    padding: 0.5rem;
   height:  85vh;
}

