.cardPost{
    height: 100%;
    width: 55%;
    margin: 0 auto;
}

.cardHeader{
height: 40PX;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 0.4rem;
}

.leftHeaderPost{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.containerFotoUser{
    margin: 0 0.2rem ;
    width: 2.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerFotoUser img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
.containerUser {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 0.7rem
}
.containerUser h3{
    font-size: 0.7rem;
    
}
.containerUser h4{
    margin-left: 0.2rem;
    color: grey;
}
.rightHeaderPost{
    width: 30%;
    display: flex;
    justify-content: end;

}
.containerFoto{
    height: 50%;
    width: 100%;
}
.containerFoto img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.interacoesPostagem{

}
.containerButtons{
    margin: 0.5rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.leftButtons{
    width: 6rem;
    display: flex;
    justify-content: space-between;
}
.reverse{
    display: flex;
    flex-direction: row-reverse;
}

.fotoCurtida{
    display: flex;
    width:25px;
}
.curtidoInfo{
    display: flex;
    align-items: center;
}
.curtidoInfo p{
    margin-left: 25px;
    font-size: 0.8rem;
}
.curtidoInfo span{
    cursor: pointer;
    font-weight: 700;
}