.Stories{
    width:5rem ;
    height: 4.5rem;
    margin: 0 1rem;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.borderStories{
    width: 100%;
    height: 100%;
    padding: 0.2em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, yellow, purple, red, orange);

}
.borderStories img{
    width: auto;
    height: auto;
    border-radius: 100%;
}

.Stories h2{
    margin-top: 0.5rem;
    font-size: 0.6em;
}